<div class="banner">
  <div class="container">
    <h1>personalized movie lists</h1>
  </div>
</div>

<div class="container">
  <h2>My lists</h2>
  <div class="list-grid">
    <% @lists.each do |list| %>
      <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>

</div>
