<h1><%= @list.name %></h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %>
        <%= link_to "delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
<p><strong>Create a new bookmark</strong></p>
<%= render "bookmark_form", list: @list, bookmark: @bookmark %>
